:root {
  --DarkCyan: hsl(158, 36%, 37%);
  --Cream: hsl(30, 38%, 92%);
  --VeryDarkBlue: hsl(212, 21%, 14%);
  --DarkGrayishBlue: hsl(228, 12%, 48%);
  --White: hsl(0, 0%, 100%);
}

/* font-family: 'Fraunces', serif; */
/* font-family: 'Montserrat', sans-serif; */

body {
  padding: 0;
  margin: 0;
  border: 0;
  background-color: var(--Cream);
  margin-top: 50px;
}


.container {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 550px;
  height: 440px;
  margin: auto;
  background-color: var(--White);
  border-radius: 15px;order: solid red 1px
}
.product_img{
height: 100%;

}

.product_img img{
    width: 250px;
    height: 100%;
    justify-content: start;
    align-items: center;
    margin-top: 0;
    border-radius: 15px 0px 0px 15px;   
}

.container_body{
    align-items: center;
    justify-content: end;
    border-radius: 15px;
    
}

.container_body h1,p{
  padding: 0px 15px;
  text-align: start;
  margin: 35px 0px;
 
}

.container_body h1{
  font-family: 'Fraunces', serif;
}

.container_body p:nth-child(3){
  font-family: 'Montserrat', serif;
  font-weight: normal;
  
  color: var(--DarkGrayishBlue);

}